.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    width: 80%;
    margin: auto;
    .logo {
        display: flex;
        gap: .5rem;
        align-items: center;
        &__titulo {
            font-family: var(--fonte-titulo);
            font-size: 1.5rem;
            color: var(--cor-segundaria);
        }
    }
    .list{
        display: flex;
        gap: 5rem;
        &__link{
            list-style-type: none;
            a {
                color: var(--cor-segundaria);
                text-decoration: none;
                font-size: 1.2rem;
                font-weight: 600;
                transition: .5s;
                &:hover{
                    color: var(--cor-primaria);
                }
            }
        }
    }
}