.cardapio{
    width: 80%;
    margin: auto;
    padding: 2rem 0;
    &__titulo{
        font-size: 2rem;
        font-family: var(--fonte-titulo);
        padding-bottom: 2rem;
        color: var(--cor-primaria);
    }
    &__filtros{
        padding: 2rem 0;
        display: flex;
        justify-content: space-between;
    }
}